Repository MicrosoftDocs/OfficeDocs-SharePoint-PowerShell, pull requests merged in 2025-07, with the labels that each got.

#921 Support Site access review for new report
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteReview.md
Labels: Microsoft submitter

#923 Add RequireOrganizationLinksExpireInDays to Set-SPOTenant
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: In review, Microsoft submitter, Sign off

#937 Fix 404 caused by recent folder renaming and redirection issues
  .openpublishing.publish.config.json
  .openpublishing.redirection.ms-ol-sp-ps.json
  .openpublishing.redirection.ms-sp-ps.json
  .openpublishing.redirection.spserver.json
  sharepoint/docfx.json
Labels: Microsoft submitter

#939 Fix build warnings in content for PlatyPS
  .openpublishing.redirection.ms-sp-ps.json
  .openpublishing.redirection.spserver.json
  sharepoint/docfx.json
  sharepoint/docs-conceptual/index.yml
  sharepoint/docs-conceptual/sharepoint-server/sharepoint-server-cmdlets.md
  sharepoint/docs-conceptual/sharepoint-server/sharepoint-server-sub-cmdlets.md
  sharepoint/docs-conceptual/toc.yml
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Get-SPOCopilotPromoOptInStatus.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Get-SPOCopilotPromoUsage.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Get-SPOTenantPreAuthSettings.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOApplication.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOBuiltInFontPackageSettings.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOContainer.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOCopilotPromoOptInStatus.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOTenantPreAuthSettings.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOTenantRenameSitePrioritization.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Add-SPDistributedCacheServiceInstance.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Deploy-SPVariation.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Get-SPVariationJob.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/New-SPEduClass.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Remove-SPSite.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Remove-SPWeb.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Repair-SPVariation.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Set-SPServerScaleOutDatabaseDataRange.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Test-SPVariation.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Update-SPRepopulateMicroblogFeedCache.md
Labels: Microsoft submitter, sharepoint-powershell/svc, sharepoint-online/svc

#940 Fix build warnings
  sharepoint/docs-conceptual/sharepoint-server/sharepoint-server-cmdlets.md
  sharepoint/docs-conceptual/sharepoint-server/sharepoint-server-sub-cmdlets.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Remove-SPOContentSecurityPolicy.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Request-SPOUpgradeEvaluationSite.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOTenant.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Get-SPWOPIBinding.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Get-SPWOPISuppressionSetting.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Get-SPWOPIZone.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/New-SPWOPIBinding.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/New-SPWOPISuppressionSetting.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Remove-SPWOPIBinding.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Remove-SPWOPISuppressionSetting.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Set-SPWOPIBinding.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Set-SPWOPIZone.md
  sharepoint/sharepoint-ps/Microsoft.SharePoint.Powershell/Update-SPWOPIProofKey.md
  test/Microsoft.Online.SharePoint.PowerShell/Set-SPOBuiltInFontPackageSettings.yml
Labels: Microsoft submitter, sharepoint-powershell/svc

#942 Publish 7/18
  .openpublishing.publish.config.json
  sharepoint/mapping/monikerMapping.json
Labels: Microsoft submitter

#943 add new param DisableSiteBranding for Set-SPOSite command
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOSite.md
Labels: In review, Microsoft submitter, Sign off

#945 Change RequireOrganizationLinkExpireInDays Lower Bound
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOTenant.md
Labels: In review, Microsoft submitter, Sign off

#953 Restore parameter descriptions in Set-SPOTenant
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOTenant.md
Labels: Microsoft submitter

#954 OOB publish to fix broken article
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOTenant.md
Labels: Microsoft submitter

#950 Create Find-SPOCrossTenantLongFilePathsForSiteRename.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Find-SPOCrossTenantLongFilePathsForSiteRename.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Microsoft.Online.SharePoint.PowerShell.md
Labels: In review, Microsoft submitter, Sign off

#960 Refresh DefaultSharingLinkType and DefaultLinkPermission docs
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOTenant.md
Labels: In review, Microsoft submitter, Sign off

#964 Update SPO PowerShell cmdlet params
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Add-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Add-SPOSiteDesign.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Get-SPOTenant.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Get-SPOTheme.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Invoke-SPOMigrationEncryptUploadSubmit.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/New-SPOSite.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Register-SPODataEncryptionPolicy.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Remove-SPOContainer.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Remove-SPOContainerType.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Remove-SPODeletedContainer.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Remove-SPOGeoAdministrator.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Remove-SPOUserInfo.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Remove-SPOUserProfile.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Restore-SPODataEncryptionPolicy.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOContainerType.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOHomeSite.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOHubSite.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOMigrationPackageAzureSource.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOSite.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOSiteArchiveState.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOSiteDesign.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOTenant.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOTenantSyncClientRestriction.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Start-SPOSiteContentMove.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Start-SPOSiteRename.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Start-SPOUserAndContentMove.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Unregister-SPOHubSite.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Update-SPODataEncryptionPolicy.md
Labels: In review, Microsoft submitter, Sign off
