Repository MicrosoftDocs/OfficeDocs-SharePoint-PowerShell, pull requests merged in 2025-09, with the labels that each got.

#1011 RCD support for SPE containers
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOContainer.md
Labels: In review, Microsoft submitter, Sign off

#1012 Update Connect-SPOService.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Connect-SPOService.md
Labels: Admin review, In review, Microsoft submitter, Sign off

#1017 Update owners and metadata
  sharepoint/docfx.json
Labels: In review, Microsoft submitter, Sign off

#975 Added docs for M365 Agent Insights cmdlets.
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Get-SPOM365AgentAccessInsightsReport.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Microsoft.Online.SharePoint.PowerShell.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Start-SPOM365AgentAccessInsightsReport.md
Labels: In review, Microsoft submitter, Sign off

#1024 Expand the -AllowSensitivityLabelOnRecords section
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOTenant.md
Labels: In review, Microsoft submitter, Sign off

#1028 removing note that is out of date
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Add-SPOServicePrioritizationAppRegistration.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Get-SPOServicePrioritizationAppRegistrations.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Get-SPOServicePrioritizationBillingPolicies.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Microsoft.Online.SharePoint.PowerShell.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/New-SPOServicePrioritizationBillingPolicy.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Remove-SPOServicePrioritizationAppRegistration.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOServicePrioritizationAppRegistration.md
Labels: In review, Microsoft submitter, Sign off

#1030 Membership management corrections in example
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Add-SPOContainerUser.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Remove-SPOContainerUser.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOContainerUser.md
Labels: In review, Microsoft submitter, Sign off

#1032 Update Set-SPOTenant with Knowledge Agent parameters
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOTenant.md
Labels: In review, Microsoft submitter, Sign off, PubOps fixes

#1035 Fix typo: Microsoft 35 -> Microsoft 365
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOTenant.md
Labels: In review, Microsoft submitter, Sign off
