Repository MicrosoftDocs/OfficeDocs-SharePoint-PowerShell, pull requests merged in 2025-08, with the labels that each got.

#969 Update .openpublishing.publish.config.json
  .openpublishing.publish.config.json
Labels: In review, Microsoft submitter, Sign off, PubOps fixes

#958 Update Set-SPOContainer.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOContainer.md
Labels: In review, Microsoft submitter, Sign off

#976 Removing -ShowDeatils parameter from Get-SPOTenant documentation
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Get-SPOTenant.md
Labels: In review, Microsoft submitter, Sign off

#968 CopilotInsightsV2 | Add Created by and Agent created date
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Get-SPOCopilotAgentInsightsReport.md
Labels: In review, Microsoft submitter, Sign off

#987 Add docs for font package cmdlets
  .openpublishing.redirection.ms-ol-sp-ps.json
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Add-SPOFontPackage.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Get-SPOFontPackage.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Microsoft.Online.SharePoint.PowerShell.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Remove-SPOFontPackage.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOFontPackage.md
Labels: In review, Microsoft submitter, Sign off

#985 Update File Type Version Policy SPO Cmdlet Documentations.
  .openpublishing.redirection.ms-ol-sp-ps.json
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Get-SPOSiteManageVersionPolicyJobProgress.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Microsoft.Online.SharePoint.PowerShell.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/New-SPOListFileVersionBatchDeleteJob.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/New-SPOSiteManageVersionPolicyJob.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Remove-SPOSiteManageVersionPolicyJob.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOListVersionPolicy.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOSite.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOTenant.md
Labels: In review, Microsoft submitter, Sign off

#992 Fix redirections
  .openpublishing.redirection.ms-ol-sp-ps.json
  .openpublishing.redirection.ms-sp-ps.json
  .openpublishing.redirection.spserver.json
Labels: Microsoft submitter

#994 OOB publish to correct redirection
  .openpublishing.redirection.ms-ol-sp-ps.json
  .openpublishing.redirection.ms-sp-ps.json
  .openpublishing.redirection.spserver.json
Labels: Microsoft submitter

#995 Fix redirection issues
  .openpublishing.redirection.spserver.json
Labels: Microsoft submitter

#996 Fix redirections
  .openpublishing.redirection.spserver.json
Labels: Microsoft submitter

#980 Update Get-SPOContainer.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Get-SPOContainer.md
Labels: In review, Microsoft submitter, Sign off, PubOps fixes

#981 Membership management changes
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Add-SPOContainerUser.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Microsoft.Online.SharePoint.PowerShell.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Remove-SPOContainerUser.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOContainerUser.md
Labels: In review, Microsoft submitter, Sign off, PubOps fixes

#1000 Add "toc_preview" and set to true
  sharepoint/docfx.json
Labels: Microsoft submitter

#1009 Correct heading markup to make articles valid
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Add-SPOContainerUser.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Remove-SPOContainerUser.md
  sharepoint/sharepoint-ps/Microsoft.Online.SharePoint.PowerShell/Set-SPOContainerUser.md
Labels: Microsoft submitter
